/* src/styles/global.css */
img {
  float: right;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
}
img.hero {
  float: left;
  width: 40%;
  margin-right: 60%;
  padding-bottom: 1.2em;
}

form#signup {
  input {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  button {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
}
stripe-buy-button {
  margin-top: 10px;
  align-self: center;
}

/* New styles for input group */
.input-group {
  display: flex;
  align-items: center; /* Vertically align items */
}

.input-group input {
  margin-right: 10px; /* Add some space between input and button */
}

body {
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  padding-top: 1.2em;
}

h1 {
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem; /* 40px */
}

h2 {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
}

h3 {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}
