---
import Head from '../components/Head.astro';
import GtmBody from '../components/GtmBody.astro';
import Header from '../components/Header.astro';
import EmailSignup from '../components/EmailSignup.astro';
import '../styles/global.css';

interface Props {
	content?: {
		title?: string;
		description?: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
	};
}

const {
	content = {}
} = Astro.props;
const { title = '', description = '', pubDate, updatedDate, heroImage } = content;
---
<!doctype html>
<html lang="en">
	<Head />
	<body>
		<GtmBody />
		<Header />
		<slot />
		<EmailSignup />
	</body>
</html>
